.flag-card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    /* Add a border to the element */
    border: 2px solid #ccc;
    width:300px;
}
.flag-size{
    width:300px;
    height: 160px;
}
.flag-card p:first-of-type {
    font-weight: bold; /* Example style for the first <p> element within .flag-card */
  }