.search-box{
    flex: 50%;
    font-weight: 700;
    text-align: left;
    padding-left: 70px;
    align-items: center; /* Vertically center the content */
    padding-top: 20px;
}
input{
    width:365px;
    height: 40px;
    border: none;
    font-size: 11px;
    color: lightgray;
    outline: none;
}
input:focus{
    color: black;
    font-size: 12px;
}
.search-icon {
    left: 10px; /* Adjust the left positioning as needed */
    font-size: 20px; /* Adjust the font size as needed */
    color: #999; /* Icon color */
    flex: 10%;
    padding-left: 10px;
  }
  .search-container{
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.5);
    align-items: center; /* Vertically center the content */
    width:365px;
    display: inline-block; /* Display as inline-block to keep image and text on the same line */
    border: none;
    cursor: pointer;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    background-color: white;
  }
  @media (max-width: 767px) {

    .search-box{
        color: red;
        padding-left: 6px;
        padding-right: 0;
    }
    .search-container{
        width: 242px;
    }
}