.flags-container{
    display: flex;
    flex-wrap: wrap; 
    padding: 40px;
    justify-content:space-between;
    gap: 50px;
}
.flag-details{
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
}
.search{
    display: flex;
    flex-direction: row;
}
.main{
    background-color: #fafafa;
}